absl-py==2.3.1
attrs==25.3.0
cffi==1.17.1
click==8.1.8
cmake==4.1.0
contourpy==1.1.1
cycler==0.12.1
dlib 
face-recognition==1.3.0
face_recognition_models==0.3.0
faiss==1.7.2
flatbuffers==25.2.10
fonttools==4.57.0
imageio==2.35.1
importlib_resources==6.4.5
jax==0.1.23
joblib==1.4.2
kiwisolver==1.4.7
matplotlib==3.7.5
mediapipe==0.10.11
networkx==3.1
numpy @ file:///D:/bld/numpy_1687808486521/work
opencv-contrib-python==4.12.0.88
opencv-python==4.10.0
opencv-python-headless==4.10.0
opt_einsum==3.4.0
packaging==25.0
Pillow==9.0.1
protobuf==3.20.3
pycparser==2.23
pyparsing==3.1.4
python-dateutil==2.9.0.post0
PyWavelets==1.4.1
scikit-image==0.19.3
scipy==1.10.1
six==1.17.0
sounddevice==0.5.2
tifffile==2023.7.10
zipp==3.20.2
